<div class="container container-login">
  <h1>Login</h1>

  
  <%- flash.each do |name, message| %>
    <ul class="alert alert-<%= name == 'error' ? 'error' : 'block' %>">
      <li><%= message %></li>
    </ul>
  <% end %>


  <%= form_tag nil, :class => 'form-horizontal' do %>

    <%= form_horizontal_group(
      label(:user, :email, 'Email-Adresse', :class => 'control-label'),
      email_field(:user, :email)
    ) %>

    <%= form_horizontal_group(
      label(:user, :password, 'Passwort', :class => 'control-label'),
      password_field(:user, :password)
    ) %>

    <%= submit_tag('Einloggen', :class => 'btn btn-success btn-large') %>
  <% end %>
</div>