<h1>User#login</h1>
<p>Find me in app/views/user/login.html.erb</p>

<% if @user && @user.errors.count > 0 %>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_tag do %>
  <%= label(:user, :firstname, 'Vorname') %>
  <%= text_field(:user, :firstname) %>
  <br />

  <%= label(:user, :surname, 'Nachname') %>
  <%= text_field(:user, :surname) %>
  <br />

  <%= label(:user, :email, 'Email-Adresse') %>
  <%= email_field(:user, :email) %>
  <br />

  <%= label(:user, :password, 'Passwort') %>
  <%= password_field(:user, :password) %>
  <br />

  <%= label(:user, :password_confirmation, 'Passwort wiederholen') %>
  <%= password_field(:user, :password_confirmation) %>
  <br />

  <%= submit_tag('Einloggen') %>
<% end %>