<h1>Gallery#show_folder</h1>
<p>Find me in app/views/gallery/show_folder.html.erb</p>

<h2>Suche</h2>

<%= form_tag do %>
  <div class="input-append search-wrapper">
    <%= text_field_tag 'search', nil, :class => 'input-xxlarge' %>
    <button class="btn">Go!</button>
  </div>

<% end %>

<h2>Upload</h2>

<%= form_tag upload_path, :class => 'dropzone' do %> <%# TODO fix class name #%>
  <%= hidden_field :folder, :id %>
<% end %>

<h2>Ordner</h2>

<%= folder_as_tree(@user.root_folder, @folder, true) %>

<h2>Bilder (<span id="searchResultsCount"><%= @all_pics_count %></span>)</h2>

<div id='show-folder-image-previews' class='show-folder-image-preview-wrapper clearfix' data-folder-id='<%= @folder.id %>'>
  <%= image_previews_with_markup(@pictures).join(' ').html_safe %>
</div>