<div class="container">
  <h1 id="headingPictureTitle"><%= @picture.title %></h1>

  <%= form_tag edit_picture_path(:picture_id => @picture.id),
               :method => :post,
               :id => 'form-picture-edit',
               :remote => true do %>

    <%= hidden_field :picture, :id %>
    <%= hidden_field_tag 'user[faces_and_keywords]',
                         load_faces_and_keywords_url(
                           :user_id => @user.id,
                           :format  => :json
                         ) %>
    
    <%= image_tag @picture.file_url('medium'),
                  :class => 'single-image' + (@picture.facedetect? ? ' do-facedetect' : '') %>

    <%= link_to 'Bild löschen',
                 delete_picture_path(:picture_id => @picture.id, :is_single => 1),
                 :class => 'btn btn-mini btn-danger btn-delete-single-image' %>

    <ul class="form-horizontal list-picture-properties row-fluid">
      <div class="span4">
        <%=
          out = content_tag(
            :span,
            @picture.title.html_safe,
            :id => 'spanPictureTitle',
            :class => 'content-picture-title'
          )
          out += text_field('picture', 'title', :class => 'input-picture-title')
          out += link_to(
            '<i class="icon icon-pencil"></i>'.html_safe,
            '#',
            :id    => "ediPicturetTitle",
            :class => "btn btn-mini btn-edit-picture-title"
          )

          list_horizontal_group('Titel', out.html_safe, 'picture-title-wrapper')
        %>

        
        <%= list_horizontal_group('Breite', @picture.width.to_s + 'px') %>
        <%= list_horizontal_group('Höhe', @picture.height.to_s + 'px') %>
        <%= list_horizontal_group('Dateigröße', (@picture.filesize.to_f/1048576).round(3).to_s + ' MB') %>
        <%= list_horizontal_group('Kameramodell', @picture.camera.to_s) %>
        <%= list_horizontal_group('Aufnahmeort', @picture.location.to_s) %>
      </div>

      <div class="span4">
        <%= list_horizontal_group('Belichtungszeit', @picture.exposure_time.present? ? @picture.exposure_time.to_s + 's' : '') %>
        <%= list_horizontal_group('ISO', @picture.iso.to_s) %>
        <%= list_horizontal_group('Blende', @picture.aperture.to_s) %>
        <%= list_horizontal_group('Brennweite', @picture.focal_length.present? ? @picture.focal_length.to_s + 'mm' : '') %>
        <%= list_horizontal_group('Farbtiefe', @picture.color_depth.present? ? @picture.color_depth.to_s + ' Bit' : '') %>
        <%= list_horizontal_group('Farbraum', @picture.color_space.present? && @picture.color_space == '1' ? 'sRGB' : '') %>
        <%= list_horizontal_group('Blitz', @picture.has_flash.nil? ? '–' : (@picture.has_flash ? 'an' : 'aus')) %>
      </div>

      <div class="span4 metadata-by-user">
        <%= list_horizontal_group('Gesichter', text_field_tag('picture[persons]', @picture.persons_as_string)) %>
        <%= list_horizontal_group('Keywords', text_field_tag('picture[keywords]', @picture.keywords_as_string)) %>
        <%= list_horizontal_group('Ordner', select_tag('picture[folder]',
                                                    options_from_collection_for_select(
                                                      @user.folders,
                                                      'id',
                                                      'name',
                                                      @picture.folder.id # selected
                                                    ))) %>
      </div>
    </ul>

  <% end %>

  <%= link_to 'zurück zur Galerie', :back, :class => 'btn btn-primary btn-large btn-back-to-gallery' %>
</div>